<div class="container">
  <div class="sign-in-form">
    <div class="card" >

      <div class="card-body" >

        <div class="brand text-center d-block m-b-20">
          <img src="assets/smart-farm-logo.png" alt="smart farm Logo" />
        </div>
        <h5 class="sign-in-heading text-center m-b-20">Sign in to your account</h5>
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label for="input-email" class="sr-only d-none">Email address</label>
            <input type="email" id="input-email" class="form-control" placeholder="Email address"
                   autocomplete="email"
                   formControlName="email">
          </div>

          <div class="form-group">
            <label for="input-password" class="sr-only d-none">Password</label>
            <input type="password" id="input-password" class="form-control" placeholder="Password"
                   autocomplete="current-password"
                   formControlName="password">
          </div>
          <div id="sign-in-button-wrap">
            <button class="btn btn-primary btn-rounded btn-floating" type="button" (click)="onSignIn()">Sign In</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
